.left {
  transform: translate(-60%);
  height: 100%;
  background: repeating-linear-gradient(
  135deg,
  #ffffff,
  #ffffff 20px,
  #f5f5f5 20px,
  #f5f5f5 40px
  );
  .pokemon-name {
    background: #a4a4a4;
    padding: 60px 40px 41px 40px;
    h2 {
      margin: 0;
      color: #ffffff;
      font-size: 2em;
    }
  }
  .pokemon-hp-mobile {
    display: none;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    img {
      border-radius: 10px;
      height: 90%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .left {
    grid-area: leftSide;
    width: 100%;
    .pokemon-name {
      text-align: center;
      padding: 80px 40px 20px 40px;
    }
    .pokemon-hp-mobile {
      display: flex;
      justify-content: center;
      img {
        margin-left: 10px;
      }
    }
    .image-container {
      height: 80%;
    }
  }
}