.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 0 20px;
  height: 80%;
  justify-content: space-around;
  .cards-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 420px;
    img {
      width: 280px;
      border-radius: 10px;
      transition: 0.2s;
    }
    &:hover {
      img {
        transform: scale(1.1)
      }
    }
  }
}

.card-info-display {
  top: 100px;
  animation: overflowContainer 0.5s linear forwards;
}

@keyframes overflowContainer {
  to {
    box-sizing: border-box;
    overflow: hidden;
  }
}
