@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@import "./containers/app/App.scss";
@import "./containers/cardInfo/CardInfo.scss";
@import "./containers/home/Home.scss";
@import "./containers/header/Header.scss";
@import "./containers/cardContainer/CardContainer.scss";
@import "./containers/card/Card.scss";
@import "./containers/leftCardInfo/LeftCardInfo.scss";
@import "./containers/rightCardInfo/RightCardInfo.scss";
@import "./containers/loading/Loading.scss";