.card-info {
  color: #313131;
  overflow: hidden;
  position: fixed;
  display: flex;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  section {
    position: relative;
    width: 50%;
  }
  .top {
    transform: translate(0, -75px);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 50%, 65% 100%, 35% 100%, 25% 50%, 0 50%);
    height: 75px;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    background-color: #313131;
  }
  .bottom {
    transform: translate(0, 75px);
    clip-path: polygon(35% 0, 65% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 50%);
    height: 75px;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0px;
    background-color: #313131;
  }
  .transition-to-card {
    animation: cardInfoSlide 0.3s ease forwards;
  }
  .load-to-card {
    transform: translate(0)
  }
}


@keyframes cardInfoSlide {
  to {
    transform: translate(0)
  }
}